@font-face {
    font-family: 'League Spartan';
    src: url('../font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf');

}
:root{
    --blanc : hsl(0, 100%, 100%);
    --gris-clair : hsl(0, 0%, 63%);
    --gris-fonce : hsl(0, 0%, 27%);
    --noir : hsl(0, 0%, 0%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    vertical-align: bottom;
}
ul, li, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'League Spartan', sans-serif;
}
h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
h2 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3rem;
}
.wrap{max-width: 310px; margin: 0 auto;}
.desktop{display: none;}

header {
    position: relative;
    background-image: url('../images/mobile-image-hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vw;
}
header .arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}
header .arrows .arrow{
    padding: 1rem;
    background-color: var(--noir);
}
header .wrap nav{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .wrap nav label {
    position: absolute;
    left: 0;
}
header .wrap nav input {
    display: none;
}
header .wrap #imgMenu {
    z-index: 3;
}
header .wrap #openmenu:checked~label{
    top: 1.8rem;
}
header .wrap #openmenu:checked~label>img {
    content: url('../images/icon-close.svg');
}
header .wrap #openmenu:checked~ul{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blanc);
    width: 100vw;
}
header .wrap #openmenu:checked~ul>li{
    padding: 2rem 1rem;
}
header .wrap #openmenu:checked~ul>li>a{
    color: var(--noir);
    text-transform: lowercase
}
#discover {
    padding: 3rem 0;
}
#discover p{
    padding: 1rem 0;
    color: var(--gris-clair);
}
#discover a{
    display: flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
#discover a p {
    color: var(--noir);
}
#discover a:hover p {
    text-decoration: underline;
    transition: .4s;
}
#discover a .image {
    padding: 1rem;
}
#discover a .image img{
    vertical-align: middle;
}
#about {
    padding: 3rem 0;
}
#about p{
    padding: 1rem 0;
    color: var(--gris-clair);
}



@media screen and (min-width:576px;){
    
}